.left{
	width:15.5rem
}
.canvasItem{
	/*width: 30%;*/
	height:5.45rem;
}
section{
	margin-top: 0.58rem;
	display: flex;
	justify-content: space-between;
}
.section_left{
	width: 15.58rem;
}
.section_right{
	width: 14.85rem;
	border: 1px solid transparent;
	border-image: linear-gradient(rgb(42,50,216) 20%,rgb(143,105,223) 20%,rgb(101,113,223) 20%,rgb(71,172,226) 20%,rgb(21,155,230) 20%) 30 30;
}
.section_right select{
	width: 3.72rem;
	height: 0.78rem;
	background: radial-gradient(rgb(47,29,160) 80%,rgb(77,39,183));
	border: 1px solid rgb(172,68,235);
	margin-left: 0.42rem;
	color: white;
	font-size: 0.42rem;
	display: block;
}
.canvasBox{
	display: flex;
	width: 100%;
	justify-content: center;
}
.section_left_dbry{
	padding-top: 0.85rem;
}

.map{
	width: 14.15rem;
	height: 11.98rem;
	padding: 0.42rem;
	display: block;
}
